* 
	box-sizing: border-box 
	font-family: 'Proxima Nova', sans 
.notification
	display: flex
	justify-content: center
	align-items: center 
	height: 50px 
	color: #ffffff 
	background-color: #000000 
	font-size: 16px 
	font-weight: 400 
	text-align: center
	p 
		margin-top: 14px
	&_logo
		height: 20px
	.button
		text-decoration: none
		margin: 0 0 0 30px
		height: 30px
		width: 250px
		color: #000000
		background-color: white
		border-radius: 10px
.presentation_block
	text-align: center
	max-height: 600px
	background-color: #ac8080